@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
 Primary: #000000 (RGB: 0, 0, 0) 
 Secondary: #d3d8de (RGB: 211, 216, 222) 
 Primary Button: #237dd1 (RGB: 35, 125, 209) 
 Secondary Button: #f5f5f5 (RGB: 245, 245, 245) 
 Accent: #d29717 (RGB: 210, 151, 23)
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}

@layer base {
    body {
        @apply bg-[#d3d8de] text-black tracking-wide
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    li {
        @apply cursor-pointer
    }
    p{
        @apply text-lg
    }
    h2,h1,h3,h4,h5,h6 
    {
        @apply font-bold
    }
}


@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.animate-shake {
    animation-duration: 0.5s;
    animation-name: shake;
}